$sidebar_background_color: #3438cd;
$sidebar_text_color: #e7ddff;
$sidebar_bg_hover: #434ce7;
$sidebar_text_hover: white;
$sidebar_tooltip_color: #e7ddff;
$sidebar_bg_tooltip: #434ce7;
$sidebar_profile_name: #fff;
$toggler_background_color: #5f67f3;
$sidebar_icons_color: brightness(0) saturate(100%) invert(93%) sepia(75%) saturate(1504%) hue-rotate(183deg) brightness(106%) contrast(98%);
$sidebar_icons_hover: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(716%) hue-rotate(178deg) brightness(94%) contrast(84%);