$sidebar_background_color: #0B2447;
$sidebar_text_color: #A5D7E8;
$sidebar_bg_hover: #19376D;
$sidebar_text_hover: white;
$sidebar_tooltip_color: #A5D7E8;
$sidebar_bg_tooltip: #0B2447;
$sidebar_profile_name: #2e86c8;
$toggler_background_color: #576CBC;
$topbar_background_color: white;
$topbar_input_color: #0B2447;
$topbar_input_placeholder_color: #A5D7E8;
$toggler_icon_color: brightness(0) saturate(100%) invert(44%) sepia(27%) saturate(1449%) hue-rotate(163deg) brightness(101%) contrast(81%);
$sidebar_icons_color: brightness(0) saturate(100%) invert(87%) sepia(8%) saturate(1190%) hue-rotate(158deg) brightness(98%) contrast(85%);
$sidebar_icons_hover: brightness(0) saturate(100%) invert(98%) sepia(95%) saturate(51%) hue-rotate(286deg) brightness(123%) contrast(100%);