$sidebar_background_color: #06603b;
$sidebar_text_color: #91cbb3;
$sidebar_bg_hover: #2a7955;
$sidebar_text_hover: #bfe3d5;
$sidebar_tooltip_color: #dfe3e7;
$sidebar_bg_tooltip: #2a7955;
$sidebar_profile_name: #fff;
$toggler_background_color: #a3dec6;
$sidebar_icons_color: brightness(0) saturate(100%) invert(77%) sepia(10%) saturate(803%) hue-rotate(103deg) brightness(96%) contrast(94%);
$sidebar_icons_hover: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(716%) hue-rotate(178deg) brightness(94%) contrast(84%);